/JSP/build/
/JSP/dist/
/JSP/nbproject/private/
/StudentRegistrationJSP/build/
/StudentRegistrationJSP/dist/
/StudentRegistrationJSP/nbproject/private/
/JDBCServlet_Example/build/
/JDBCServlet_Example/dist/
/JDBCServlet_Example/nbproject/private/